{% extends 'hm/base.html' %}
{% load has_group %}
{% load static %}
{% load crispy_forms_tags %}
{% load filename %}
{% block extrahead %}   {# Extra Resources Start #}
{{ form.media }}        {# Form required JS and CSS #}
{% endblock %}          {# Extra Resources End #}
{% block content %} 
<div class="button-adminpro-area mg-t-40">
<div class="container">
<div class="row">
{% if request.user|has_group:"HM" %}
<div class="col-md-4">
<div class="button-ad-wrap mg-b-40">

        <h4>Schedule a meeting</h4>	
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}	
				<fieldset>
					{{ form|crispy }}
					<button class="btn btn-success mg-b-4 " style="margin-bottom: 5%; margin: 5%;" type="submit">Submit</button>
				</fieldset>
			</form>
		</div> 
</div>
<div class="col-md-8 mg-b-30">
{% else %}
<div class="col-md-12 mg-b-30">
{% endif %}
<div class="sparkline13-list shadow-reset">
    <div class="sparkline13-hd">
        <div class="main-sparkline13-hd">
            <h1>{{ head }} Up-Coming Meetings<span class="table-project-n"></span></h1>
            <div class="sparkline13-outline-icon">
                <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                <span><i class="fa fa-wrench"></i></span>
                <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <div class="sparkline13-graph">
        <div class="datatable-dashv1-list custom-datatable-overright">
            <div id="toolbar">
                <select class="form-control">
                    <option value="">Export Basic</option>
                    <option value="all">Export All</option>
                    <option value="selected">Export Selected</option>
                </select>
            </div>
            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-field="top" data-editable="false">Topic</th>
                        <th data-field="date" data-editable="false">Date</th>
                        <th data-field="mem" data-editable="false">Membership</th>
                        <th data-field="agenda" data-editable="false">Agender</th>
                        <th data-field="act" data-editable="false"></th>
                    </tr>
                </thead>
                <tbody>
                {% for meeting in meetings %}
                    <tr>
                        <td></td>
                        <td><a href="{% url 'meeting-details' meeting.id %}" >{{meeting.topic}}</a></td>
                        <td>{{meeting.date}}</td>
                        <td>{{meeting.membership}}</td>
                        <td><a href="{% if meeting.agenda %}{{meeting.agenda.url}}{% endif %}">{% if meeting.agenda %}{{meeting.agenda|filename}}{% endif %}</a></td>
                        <td>{% if request.user|has_group:"HM" %}<a class="btn btn-custon-two btn-primary btn-xs" href="{% url 'meeting-details' meeting.id %} " style="color: white;"><span class="adminpro-icon adminpro-informatio"></span> view</a> <a class="btn btn-custon-two btn-primary btn-xs" href="{% url 'update-meeting' meeting.id %}"style="color: white;"><span class="adminpro-icon adminpro-edit"></span> edit</a>{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>  
{% if request.user|has_group:"HM" %}
<div class="col-md-8 mg-b-30">
{% else %}
<div class="col-md-12 mg-b-30">
{% endif %}
<div class="sparkline13-list shadow-reset">
    <div class="sparkline13-hd">
        <div class="main-sparkline13-hd">
            <h1>{{ head }} Previous Meetings<span class="table-project-n"></span></h1>
            <div class="sparkline13-outline-icon">
                <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                <span><i class="fa fa-wrench"></i></span>
                <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <div class="sparkline13-graph">
        <div class="datatable-dashv1-list custom-datatable-overright">
            <div id="toolbar1">
                <select class="form-control">
                    <option value="">Export Basic</option>
                    <option value="all">Export All</option>
                    <option value="selected">Export Selected</option>
                </select>
            </div>
            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar1">
                <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-field="top" data-editable="false">Topic</th>
                        <th data-field="date" data-editable="false">Date</th>
                        <th data-field="mem" data-editable="false">Membership</th>
                        <th data-field="agenda" data-editable="false">Agender</th>
                        <th data-field="minutes" data-editable="false">Minutes</th>
                        <th data-field="act" data-editable="false"></th>
                    </tr>
                </thead>
                <tbody>
                {% for meeting in prv_meetings %}
                    <tr>
                        <td></td>
                        <td><a href="{% url 'meeting-details' meeting.id %}" >{{meeting.topic}}</a></td>
                        <td>{{meeting.date}}</td>
                        <td>{{meeting.membership}}</td>
                        <td><a href="{% if meeting.agenda %}{{meeting.agenda.url}}{% endif %}">{% if meeting.agenda %}{{meeting.agenda|filename}}{% endif %}</a></td>
                        <td><a href="{% if meeting.minutes %}{{meeting.minutes.url}}{% endif %}">{% if meeting.minutes %}{{meeting.minutes|filename}}{% endif %}</a></td>
                        <td>{% if request.user|has_group:"HM" %}<a class="btn btn-custon-two btn-primary btn-xs" href="{% url 'meeting-details' meeting.id %} " style="color: white;"><span class="adminpro-icon adminpro-informatio"></span> view</a> <a class="btn btn-custon-two btn-primary btn-xs" href="{% url 'update-meeting' meeting.id %}"style="color: white;"><span class="adminpro-icon adminpro-edit"></span> edit</a>{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock content %}