{% extends "hm/base.html" %}
{% block content %}
<div class="data-table-area mg-t-40 mg-b-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sparkline13-list shadow-reset">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1>{{ head }}<span class="table-project-n"> All Subject Teachers</span></h1>
                                <div class="sparkline13-outline-icon">
                                    <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                <div id="toolbar">
                                    <select class="form-control">
                                        <option value="">Export Basic</option>
                                        <option value="all">Export All</option>
                                        <option value="selected">Export Selected</option>
                                    </select>
                                </div>
                                <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                    <thead>
                                        <tr>
                                            <th data-field="state" data-checkbox="true"></th>
                                            <th data-field="tr" data-editable="false">Teacher</th>
                                            <th data-field="sub" data-editable="false">Subject</th>
                                            <th data-field="class" data-editable="false">Class</th>
                                            <th data-field="term" data-editable="false">Term</th>
                                            <th data-field="year" data-editable="false">Year</th>
                                            <th data-field="role" data-editable="false">role</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for subject in subject_teachers %}
                                        <tr>
                                            <td></td>
                                            <td><a href="">{{subject.staff}}</a></td>
                                            <td><a href="">{{subject.subject}}</a></td>
                                            <td>{{subject.subject_class}}</td>
                                            <td>{{subject.term}}</td>
                                            <td>{{subject.year}}</td>
                                            <td>{{subject.role}}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Static Table End -->
     <!-- welcome Project, sale area start-->
    {% endblock content %}